<div id="comment-{{ comment.id }}">
    <strong>{{ comment.author.username }}</strong> said : {{ comment.content }}<br>
    {% if comment.depth < 3 %}
    <button class="btn btn-default reply" data-id="{{ comment.id }}">Répondre</button>
    {% endif %}
</div>

<div style="margin-left: 50px;">
    {% if comment.children is defined %}
        {% for comment in comment.children %}
            {% include 'comment.html.twig' %}
        {% endfor %}
    {% endif %}
</div>
